@charset "UTF-8";
/* Paleta de colores de fuentes*/
/* Paleta de colores de botones */
/* Variables de apilamiento */
/* Poppins */
/* Raleway */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p, span, a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* Hacemos el efecto Fade para la parte de trabajos realizados */
.our-work__container, .video-box, .icon-video {
  opacity: 0.3;
  transition: all 2s;
  position: relative;
}

.main-banner__info {
  transition: all 2s;
  position: relative;
  animation-name: arriba;
  animation-duration: 2s;
}

@keyframes arriba {
  0% {
    bottom: -10%;
    opacity: 0.3;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

.transform_down {
  transform: translateY(20%);
}

.transform_left {
  transform: translateX(-20%);
}

.transform_right {
  transform: translateX(20%);
}

.aparece {
  opacity: 1;
  transform: none;
}

.main-nav__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .main-nav__list {
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 50px;
  }
}
.main-nav__item {
  margin: 0 1rem;
}
@media screen and (max-width: 768px) {
  .main-nav__item {
    margin: 20px 0;
  }
}
.main-nav__link {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .main-nav__link {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }
}

.active {
  position: relative;
  left: 8%;
}

.menu-bar-pc {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
  position: fixed;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .menu-bar-pc {
    display: none;
  }
}
.menu-bar-pc .logo img {
  width: 4rem;
}
.menu-bar-pc .menu-principal a {
  color: #323f52;
  margin: 0 1rem;
}

.menu-bar-movil {
  width: 100%;
  height: 5rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
  position: fixed;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .menu-bar-movil {
    display: flex;
  }
}
.menu-bar-movil .burger-menu i {
  font-size: 2rem;
  cursor: pointer;
}
.menu-bar-movil .logo img {
  width: 4rem;
}
.menu-bar-movil .slideMenu {
  display: block;
  position: absolute;
  top: 5rem;
  left: 800px;
  width: 70%;
  background-color: #1f2732;
  transition: all 0.4s ease-out;
}
.menu-bar-movil .slideMenu .menu-principal {
  height: 100vh;
}
.menu-bar-movil .slideMenu .menu-principal a {
  position: relative;
  left: 480px;
  display: block;
  color: #fff;
  margin: 3rem 4.5rem;
  transition: all 0.4s ease-out;
}
.menu-bar-movil .active {
  left: 30%;
  transition: all 0.4s ease-in;
}
.menu-bar-movil .active .menu-principal a {
  position: relative;
  left: 0;
  transition: all 0.7s ease-out;
}

main {
  margin-top: 5rem;
}

.svg1 {
  position: absolute;
  top: 123%;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

/* Sección Banner */
.main-banner::before {
  content: "";
  height: 720px;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 360px) {
  .main-banner::before {
    height: 720px;
  }
}
.main-banner__img {
  background-image: url("../img/banner.jpg");
  height: 720px;
  background-position: center;
  background-size: cover;
}
.main-banner__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-banner__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width: 360px) {
  .main-banner__title {
    font-size: 2.5rem;
  }
}
.main-banner__description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgba(230, 230, 230, 0.5);
  line-height: 2rem;
  margin: 1.3rem 0;
}
@media screen and (max-width: 360px) {
  .main-banner__description {
    font-size: 0.9rem;
  }
}
.main-banner__title, .main-banner__description, .main-banner .main-button, .main-banner .button--primary {
  z-index: 10;
}

/* Fin Sección Banner */
/* Sección proceso de trabajo */
.process-work {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 5rem 0;
}
.process-work__container {
  max-width: 400px;
}
.process-work__title {
  color: #323f52;
  line-height: 1.8;
}
.process-work__description {
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* Fin de proceso de trabajo */
/* Video Work */
.video-work {
  position: relative;
}
.video-work video {
  position: absolute;
  top: -21rem;
  left: 25%;
  width: 50%;
  z-index: 10;
  border: 8px solid #fff;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 1024px) {
  .video-work video {
    width: 70%;
    left: 15%;
  }
}
@media screen and (max-width: 768px) {
  .video-work video {
    width: 80%;
    left: 10%;
  }
}
@media screen and (max-width: 575px) {
  .video-work video {
    width: 90%;
    left: 5%;
  }
}
@media screen and (max-width: 360px) {
  .video-work video {
    width: 100%;
    left: 0;
    top: -18rem;
  }
}
.video-work video:hover {
  top: -21.5rem;
  transition: all 0.5s ease-out;
}
.video-work .icon-video {
  z-index: 10;
  position: absolute;
  top: -170px;
  left: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .video-work .icon-video {
    top: -250px;
    left: 45%;
  }
}
@media screen and (max-width: 360px) {
  .video-work .icon-video {
    top: -215px;
    left: 45%;
  }
}
.video-work .icon-video:hover {
  transform: scale(1.2);
}

.video-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.video-modal video {
  position: relative;
  max-width: 900px;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .video-modal video {
    max-width: 90%;
  }
}
.video-modal i {
  filter: invert(1);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 3rem;
}

.active-video {
  visibility: visible;
}

/* Fin video Work */
/* Enterprice work */
.enterprice-work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: center;
  padding-bottom: 400px;
  background-color: #eee;
  margin-top: 8rem;
}
@media screen and (max-width: 1024px) {
  .enterprice-work {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .enterprice-work {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.enterprice-work div {
  margin: auto;
}
.enterprice-work img {
  max-width: 80px;
  padding-top: 3.5em;
}
@media screen and (max-width: 1024px) {
  .enterprice-work img {
    max-width: 60px;
  }
}
@media screen and (max-width: 360px) {
  .enterprice-work img {
    padding-top: 3rem;
  }
}

/* Fin Enterprice Work */
/* Banner Team */
.banner-team {
  position: relative;
}
.banner-team::after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.banner-team__image {
  height: 100vh;
  background-image: url("../img/team-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-team__container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 575px) {
  .banner-team__container {
    width: 90%;
  }
}
.banner-team__description {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #fff;
  z-index: 10;
}
.banner-team__description span {
  color: #0076e4;
}
@media screen and (max-width: 360px) {
  .banner-team__description {
    font-size: 2rem;
    line-height: 1.6;
  }
}

/* Fin Banner Team */
/* Team Work */
.our-work {
  padding: 5rem 0;
  background-color: #eee;
  /* Invertimos el orden de el contenido-description y la img */
}
@media screen and (max-width: 575px) {
  .our-work {
    padding: 0 1em;
  }
}
@media screen and (max-width: 575px) {
  .our-work .our-work__body {
    order: 2;
  }
  .our-work .our-work__image {
    order: 1;
  }
}
.our-work__container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0px 2px 19px 0px #7b7b7b;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .our-work__container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .our-work__container {
    max-width: 580px;
  }
}
@media screen and (max-width: 575px) {
  .our-work__container {
    max-width: 450px;
  }
}
.our-work__image {
  max-width: 500px;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .our-work__image {
    max-width: 370px;
  }
}
@media screen and (max-width: 768px) {
  .our-work__image {
    max-width: 320px;
  }
}
@media screen and (max-width: 575px) {
  .our-work__image {
    max-width: 550px;
  }
}
.our-work__image img {
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 575px) {
  .our-work__image img {
    border-radius: 10px 10px 0 0;
  }
}
.our-work__image .img-2 {
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 575px) {
  .our-work__image .img-2 {
    border-radius: 10px 10px 0 0;
  }
}
.our-work__body {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #323f52;
}
@media screen and (max-width: 575px) {
  .our-work__body {
    height: 150px;
  }
}
.our-work__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .our-work__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .our-work__title {
    margin-top: 1.4rem;
  }
}
.our-work__description {
  margin-bottom: 1.3rem;
}
@media screen and (max-width: 768px) {
  .our-work__description {
    font-size: 0.8rem;
  }
}

/* End Team Work */
/* Contact Team */
.contact-team {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.contact-team__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-team__title {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #323f52;
}
.contact-team__description {
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  width: 500px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 575px) {
  .contact-team__description {
    width: 70%;
  }
}
.contact-team .button--primary {
  margin-top: 1.5rem;
}

/* Fin Contac Team */
footer {
  background-color: #000;
  color: #fff;
}

.footer__container {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__container {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 360px) {
  .footer__container {
    height: 7rem;
    padding: 1.6em 0;
  }
}

@media screen and (max-width: 575px) {
  .footer__social {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .footer__social {
    margin: 0.4rem 0;
  }
}
.footer__social--title {
  text-align: center;
}
@media screen and (max-width: 575px) {
  .footer__social--title {
    font-size: 0.8rem;
    margin: auto;
    padding: 0 0.5em;
  }
}
.footer__social i {
  margin: 0.5rem 1rem;
  color: #6597FF;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .footer__social i {
    margin: 0.5rem;
  }
}

.main-button, .button--primary {
  display: inline-block;
  padding: 1em 2.5em;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.button--primary {
  background-color: #0076e4;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  transition: all 0.3s ease-in-out;
}
.button--primary:hover {
  background-color: #005cb1;
  transition: all 0.3s ease-in-out;
}

.button--secondary {
  border: 1px solid #323f52;
  color: #323f52;
  background-color: #fff;
  padding: 0.8em 2.1em;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .button--secondary {
    font-size: 0.7rem;
  }
}
.button--secondary:hover {
  color: #fff;
  background-color: #323f52;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=styles.css.map */
