.main-button {
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    @include font-primary-bold();
    color: $color-secondary;
}
.button--primary {
    @extend .main-button;
    background-color: $button-primary;
    color: #fff;
    @include font-primary-regular();
    font-size: .85rem;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: darken($button-primary, 10%);
        transition: all .3s ease-in-out;
    }
}
.button--secondary {
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: #fff;
    padding: .8em 2.1em;
    border-radius: 25px;
    @include font-primary-medium();
    transition: all .3s ease-in-out;

    @include medium {
        font-size: .7rem;
    }

    &:hover {
        color: #fff;
        background-color: $color-primary;
        transition: all .3s ease-in-out;
    }
}
