*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    @include font-primary-regular();
}

p,span,a {
    @include font-secondary-regular();
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}