$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Raleway', sans-serif;

/* Poppins */
@mixin font-primary-light() {
    font-family: $font-primary;
    font-weight: 300;
}
@mixin font-primary-regular() {
    font-family: $font-primary;
    font-weight: 400;
}
@mixin font-primary-medium() {
    font-family: $font-primary;
    font-weight: 500;
}
@mixin font-primary-bold() {
    font-family: $font-primary;
    font-weight: 700;
}


/* Raleway */
@mixin font-secondary-light() {
    font-family: $font-secondary;
    font-weight: 300;
}
@mixin font-secondary-regular() {
    font-family: $font-secondary;
    font-weight: 400;
}
@mixin font-secondary-medium() {
    font-family: $font-secondary;
    font-weight: 500;
}
@mixin font-secondary-bold() {
    font-family: $font-secondary;
    font-weight: 700;
}