footer {
    background-color: #000;
    color: #fff;
}

.footer__container {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    @include medium {
        font-size: .8rem;
    }

    @include small {
        height: 7rem;
        padding: 1.6em 0;
    }
}

.footer__social {
    @include regular {
        display: flex;
    }
    @include small {
        margin: .4rem 0;
    }

    &--title {
        text-align: center;

        @include regular {
            font-size: .8rem;
            margin: auto;
            padding: 0 .5em;
        }
    }
    i {
        margin: .5rem 1rem;
        color: #6597FF;
        cursor: pointer;

        @include regular {
            margin: .5rem;
        }
    }
}
