.main-nav {

    &__list {   
        display: flex;
        @include medium {
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 50px;
        }
    }     
    &__item {
        margin: 0 1rem;
        @include medium {
            margin: 20px 0;
        }
    }
    &__link {
        color: $color-secondary;
        @include font-secondary-bold();
        @include medium {
            color: #fff;
            @include font-secondary-light();
        }
    }

}

    // para el active del menu toggle
.active {
    position: relative;
    left: 8%;
}


.menu-bar-pc {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    background-color: #fff;
    border-bottom: 1px solid #cacaca;
    position: fixed;
    top: 0;
    z-index: $z-fixed;
    @include medium {
        display: none;
    }

    .logo {
        img {
            width: 4rem;
        }
    }

    .menu-principal {
        a {
            color: $color-primary;
            margin: 0 1rem;
        }
    }
}

.menu-bar-movil {
    width: 100%;
    height: 5rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    background-color: #fff;
    border-bottom: 1px solid #cacaca;
    position: fixed;
    top: 0;
    z-index: $z-fixed;

    @include medium {
        display: flex;
    }
    
    .burger-menu {
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .logo {
        img {
            width: 4rem;
        }
    }

    .slideMenu {
        display: block;
        position: absolute;
        top: 5rem;
        left: 800px;
        width: 70%;
        background-color: darken($color-primary, 10%);
        transition: all .4s ease-out;
        .menu-principal {
            height: 100vh;
            a {
                position: relative;
                left: 480px;
                display: block;
                color: #fff;
                margin: 3rem 4.5rem;
                transition: all .4s ease-out;
            }
        }
    }

    .active {
        left: 30%;
        transition: all .4s ease-in;
        .menu-principal {
            a {
                position: relative;
                left: 0;
                transition: all .7s ease-out;
            }
        }
    }
}
